build/
out/
/.idea/*.xml
/.idea/.gitignore
/.idea/modules/*
/.idea/shelf/*
/.idea/codeStyles/*
/.idea/dictionaries/*
/.idea/.name
/.gradle/
/.fleet/
/.vs/
/.vscode/
*.iml
gradle.properties
.DS_Store
lombok.config
/test.aya

/cli-*-all.jar
/tgbot-*-all.jar
/imgui.ini

