build/
out/
/.idea/*.xml
/.idea/.gitignore
/.idea/modules/*
/.idea/shelf/*
/.idea/codeStyles/*
/.idea/copilot/*
/.idea/dictionaries/*
/.idea/.name
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries/
/.gradle/
/.fleet/
/.vs/
/.vscode/
*.iml
gradle.properties
local.properties
.DS_Store
lombok.config
/test.*
/highlight-hover.js

/cli-*-all.jar
/tgbot-*-all.jar
/diagram.uml
