build/
out/
/.idea/*.xml
/.idea/.gitignore
/.idea/modules/*
/.idea/shelf/*
/.idea/codeStyles/*
/.idea/dictionaries/*
/.idea/.name
/.gradle/
/.fleet/
/.vs/
/.vscode/
*.iml
gradle.properties
.DS_Store
lombok.config

/cli-*-all.jar
/imgui.ini

