name : test
on:
  push:
    branches: [main, staging, trying]
  pull_request:
    branches: [main]
jobs:
  gradle-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '17'
      - uses: eskatos/gradle-command-action@v1
        with:
          dependencies-cache-enabled: true
          arguments: testCodeCoverageReport --info --no-daemon --stacktrace --warning-mode all
      - uses: eskatos/gradle-command-action@v1
        if: github.base_ref == null && github.ref == 'refs/heads/main'
        with:
          dependencies-cache-enabled: true
          arguments: jlink --info --no-daemon --stacktrace --warning-mode all
      - uses: actions/upload-artifact@master
        if: github.base_ref == null && github.ref == 'refs/heads/main'
        with:
          name: nightly-build
          path : ./lsp/build/image
      - name: Upload coverage to Codecov
        if: github.base_ref != null
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./build/reports/jacoco/testCodeCoverageReport/testCodeCoverageReport.xml
