name: track pr

on:
  pull_request:
    branches: [main]
  merge_group:
    types: [checks_requested]

jobs:
  run-tracker:
    runs-on: ubuntu-latest
    permissions:
      issues: read
      pull-requests: write
    steps:
      - name: Install Aya
        uses: 'aya-prover/aya-dev/.github/actions/install-aya@main'
      - name: Run Issue Tracker For PR
        uses: 'HoshinoTented/issue-tracker@v1'
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          issue: ${{ github.event.issue.number }}
          pull_request: true
